@import url(https://fonts.googleapis.com/css?family=Dosis:300,400,500,700|Open+Sans:300,400,600,700);
@media only screen and (max-device-width: 480px) {
	.mobile-block {
		display: block;
	}

	.mobile-inline {
		display: inline;
	}

	.mobile-inline-block {
		display: inline-block;
	}

	.hidden-mobile {
		display: none;
	}
}

@media only screen and (min-device-width: 481px) {
	.mobile-block,
	.mobile-inline,
	.mobile-inline-block {
		display: none;
	}
}

* {
	font-size: 12px;
}

html, body {
	background-color: #FFF;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.background-table > tbody > tr > td {
	padding-top: 20px;
}

.logo-img {
	display: block;
	margin: 0 0 45px 0;
	max-width: 100%;
}

.template-table {
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.025);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.025);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.025);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: solid 1px rgba(0, 0, 0, 0.05);
}

.template-head th {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	background:  #025E9D;
	color: #FFFFFF;
	font-size: 18px;
	-webkit-text-shadow: 0 1px 0 #011E32;
	-moz-text-shadow: 0 1px 0 #011E32;
	-text-shadow: 0 1px 0 #011E32;
	text-shadow: 0 1px 0 #011E32;
	padding: 0.5em;
	font-family: 'Dosis', sans-serif;
	font-size: 2em;
	font-weight: 500;
}

.template-body > tr > td {
	padding: 1em;
}

.template-foot {}

.order-table {
	table-layout: fixed;
}

.order-table h1 {
	margin: 20px 0 0 0;
	font-size: 1.5em;
	color: #777;
}

.order-table h2 {
	margin: 15px 0 0 0;
	font-size: 1.3em;
	font-weight: 600;
	color: #777;
}

.order-table b {
	font-weight: 600;
}

.items-table {
	margin-top: 15px;
}

.items-table > thead > tr > th {
	border-bottom: solid 2px #DDD;
	font-weight: 600;
}

.items-table > tbody > tr > td {
	padding: 4px;
}

.items-table > tbody tr:nth-child(odd) {
	background-color: #F9F9F9;
}

.items-table > tfoot > tr > th {
	font-weight: 600;
}

.items-table > tfoot > tr > td {
	padding: 4px;
}
